@font-face {
    font-family: 'Product';
    src: url('./assets/fonts/product.ttf');
}

* {
    font-family: 'Product';
}

*::-webkit-scrollbar {
    display: none;
    /* Ocultar scroll */
}

button {
    border-radius: 100px !important
}

h1,
h2,
h3 {
    text-transform: none;
}