.titulos {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

* {
    letter-spacing: 0;
}

table {
    cursor: pointer;
}

h4 {
    margin-top: -30px !important;
    text-transform: none;
}