<div class="content">
    <div class="row">
        <div class="col">
            <div class="card mb-3 infectados">
                <div class="card-body text-center">
                    <span class="numero-tarjeta" style="color: #FF8900;">78,523</span>
                    <br>
                    <span>Infectados</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 recuperados">
                <div class="card-body text-center">
                    <span class="numero-tarjeta" style="color: #1D00FF;">142,129</span>
                    <br>
                    <span>Recuperados/Descartados</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 fallecidos">
                <div class="card-body text-center">
                    <span class="numero-tarjeta" style="color: #FF004E;">89,172</span>
                    <br>
                    <span>Fallecidos</span>
                </div>
            </div>
        </div>
    </div>
</div>