<h1>Probando cambios en mi computadora</h1>

<div class="container">

    <p>Fragmento de un escrito con unidad temática, que queda diferenciado del resto de fragmentos por un punto y aparte y generalmente también por llevar letra mayúscula inicial y un espacio en blanco en el margen izquierdo de alineación del texto principal
        de la primera línea.</p>

</div>

<div class="container-fluid bg-primary py-5">

    <div class="container text-white">

        <h1 class="display-3"><b> Layout  </b></h1>
        <p>Fragmento de un escrito con unidad temática, que queda diferenciado del resto de fragmentos por un punto y aparte y generalmente también por llevar letra mayúscula inicial y un espacio en blanco en el margen izquierdo .</p>
    </div>


</div>