<video class="fondocss" loop autoplay muted>
    <source src="assets/video/video-login.mp4" type="video/mp4">
</video>
<div class="content">
    <div class="card bg-secondary mb-3" style="max-width: 30rem;">
        <div class="card-body">
            <h1 class="card-title">Inicia Sesión para continuar</h1>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint quas natus sit illo totam inventore adipisci at voluptatibus corrupti</p>
            <div class="form-group has-success">
                <label class="form-control-label">Email</label>
                <input type="email" value="" class="form-control" placeholder="Ingrese su email">
                <!-- <div class="valid-feedback">Success! You've done it.</div> -->
            </div>
            <div class="form-group has-success">
                <label class="form-control-label">Contraseña</label>
                <input type="password" value="" class="form-control password" placeholder="Ingrese su contraseña">
                <!-- <div class="valid-feedback">Success! You've done it.</div> -->
            </div>
            <button class="btn btn-primary btn-block">Iniciar Sesión</button>
        </div>
    </div>
</div>